.coaches {
  margin: auto;

}

.coaches__wrapper {
  position: relative;
  padding-top: 51px;
}

.coaches__container {
  width: 100%;
  max-width: 1160px;
  overflow: hidden;
}

.coaches__list {
  position: relative;
  display: flex;

  transition: transform 500ms ease-in-out;
}

.coaches__item {
  position: relative;
  flex-shrink: 0;

  width: 260px;

  transition: box-shadow 500ms;

  &:not(:nth-child(4n)) {
    margin-right: 40px;
  }

  &:hover {
    box-shadow: 0 0 35px rgba(42, 59, 99, 0.17);
  }
}

.coaches__image {
  width: 100%;
  height: auto;
}

.coaches__text-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 100%;
  padding: 30px 50px;

  background-color: transparent;
  transition: background-color 500ms;
}

.coaches__item:hover .coaches__text-wrapper {
  justify-content: center;
  background-color: rgba(16, 38, 84, 0.89);
}

.coaches__name {
  font-family: $Roboto-condensed;
  text-align: center;
  font-size: 18px;
  line-height: 150%;
  color: $white;
}

.coaches__type {
  display: none;
  font-family: $Roboto-condensed;
  font-size: 16px;
  line-height: 150%;
  color: #B6BDCC;
}

.coaches__item:hover .coaches__type  {
  display: block;
}

.coaches__specs {
  display: none;
  flex-direction: column;

  margin-top: 30px;
}

.coaches__item:hover .coaches__specs {
  display: flex;
}

.coaches__spec {
  position: relative;

  padding-left: 16px;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;

    width: 6px;
    height: 6px;

    background-color: $white;
    border-radius: 100%;
  }
}

.coaches__text {
  font-family: $Roboto-condensed;
  font-size: 14px;
  line-height: 150%;
  color: $white;
}

.coaches__button {
  position: absolute;
  top: 50%;
  left: -60px;

  padding: 0 10px;

  font-size: 0;

  &:disabled {
    opacity: .5;
  }

  &--next {
    left: initial;
    right: -60px;
  }
}

.coaches__button-icon {
  fill: none;
  stroke: #AFAFAF;
}

.coaches__button:not(:disabled):hover .coaches__button-icon {
  stroke: black;
}

.coaches__button--next .coaches__button-icon {
  transform: scale(-1, 1);
}

@media (max-width: 1300px) {
  .coaches__item {
    width: calc(25% - 15px);

    &:not(:nth-child(4n)) {
      margin-right: 20px;
    }
  }
}

@media (max-width: $tablet) {
  .coaches__wrapper {
    padding: 0 77px;
    padding-top: 41px;
  }

  .coaches__list {
    transition: transform 300ms ease-in-out;
  }

  .coaches__item {
    width: calc(50% - 15px);
    margin-right: 0;

    &:not(:nth-child(4n)) {
      margin-right: 0;
    }

    &:not(:nth-child(2n)) {

      margin-right: 30px;
    }
  }

  .coaches__image {
    width: 100%;
    height: 100%;
  }

  .coaches__button--prev {
    left: -22px;
  }
  .coaches__button--next {
    right: -2px;
  }
}

@media (max-width: 767px) {
  .coaches__wrapper {
    padding: 0 47px;
    padding-top: 42px;
  }

  .coaches__item {
    width: 100%;
    margin-right: 0;

    &:not(:nth-child(4n)),
    &:not(:nth-child(2n)) {
      margin-right: 0;
    }
    overflow: hidden;
  }

  .coaches__text-wrapper {
    justify-content: flex-start;
    padding: 42px 34px;
    padding-right: 33px;
    background-color: rgba(16, 38, 84, 0.89);
  }

  .coaches__type  {
    display: block;
  }

  .coaches__type {
    position: relative;
    top: -4px;
  }

  .coaches__specs {
    display: flex;
    margin-top: auto;
  }

  .coaches__spec:not(:last-child) {
    margin-bottom: 13px;
  }

  .coaches__button--prev {
    left: 0;
  }

  .coaches__button--next {
    right: 0;
  }

  .coaches__button-icon {
    width: 13px;
    height: 19px;
  }

  .coaches__image {
    width: 107.2%;
  }
}
