.header {
  min-height: 658px;
  padding: 30px 15px;

  background-image: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  box-sizing: border-box;


  ul {
    @include ul-no-style;
  }

  h1, h2, h3, p {
    margin: 0;
  }

  button {
    padding: 0;
    font-family: $Bebas-neue;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.header__wrapper {
  position: relative;

  display: flex;
  max-width: $desktop-container;
  margin: auto;
}

.header__main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  width: 39.6%;
  padding-top: 134px;
  padding-right: 63px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.header__city {
  margin-bottom: 5px;

  font-family: $Bebas-neue;
  text-align: right;
  font-size: 49px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white;
}

.header__title-wrapper {
  position: relative;

  margin-bottom: 56px;
}

.header__title {
  display: inline-block;
  vertical-align: initial;
  margin: 0;

  font-family: $Bebas-neue;
  font-weight: 700;
  text-align: right;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white;
}

.header__text {
  position: absolute;
  top: 59%;
  left: -26.5%;

  font-family: $Roboto-condensed;
  font-size: 14px;
  line-height: 150%;
  text-align: right;
  color: $white;
}

.header__button {
  @include button-border;
}

.header__banner {
  padding-top: 21px;
}

.header__phone {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  margin: 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: $white;
}

.header__socials {
  position: absolute;
  right: 0;
  bottom: 27px;
}

.header__social-item {
  margin-bottom: 9px;
}

.header__social-link {
  display: block;
  padding: 5px 0;

  font-family: $Roboto-condensed;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;
}

.header__social-hidden {
  font-size: 0;
}

@media (min-width: 1400px) {
  .header {
    background-image: conic-gradient(from 130.31deg at 24% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }
}

@media (max-width: $tablet) {
  .header {
    min-height: 554px;
    padding: 40px 45px;

    background-image: conic-gradient(from 139.4deg at 20.7% 35.74%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }

  .header__logo {
    width: 82px;
  }

  .header__main {
    width: 52%;
    padding-top: 94px;
    padding-right: 30px;
  }

  .header__city {
    margin-bottom: 0;

    font-size: 34px;
    line-height: 41px;
  }

  .header__title-wrapper {
    margin-bottom: 42px;
  }

  .header__title {
    font-size: 86px;
    line-height: 86px;
  }

  .header__text {
    top: 54%;
    left: -37.5%;
  }

  .header__banner {
    padding-top: 43px;
  }

  .header__banner-image {
    width: 324px;
    height: 390px;
  }

  .header__phone {
    font-size: 24px;
    line-height: 24px;
  }

  .header__button {
    min-width: 187px;
  }

  .header__socials {
    display: none;
  }
}

@media (min-width: 850px) {
  .header {
    background-image: conic-gradient(from 130.31deg at 33% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }
}

@media (max-width: 767px) {
  .header {
    min-height: 491px;
    padding: 20px 15px;

    background: conic-gradient(from 171.43deg at 35.31% 34.22%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
  }

  .header__logo {
    width: 68px;
  }

  .header__phone {
    font-size: 20px;
    line-height: 20px;
  }

  .header__banner {
    display: none;
  }

  .header__main {
    min-width: 290px;
    margin: auto;
    padding-top: 91px;
    padding-right: 0;
  }

  .header__title-wrapper {
    margin-bottom: 45px;
  }

  .header__city {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 5px;
  }

  .header__title {
    font-size: 78px;
    line-height: 78px;
  }

  .header__text {
    top: 53%;
    left: -36.5%;
  }

  .header__button {
    width: 100%;
  }

}
