.main {
  overflow: hidden;
  box-sizing: border-box;


  ul {
    @include ul-no-style;
  }

  h2, h3, p {
    margin: 0;
  }

  button {
    padding: 0;
    font-family: $Bebas-neue;

    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.main__group {
  max-width: $desktop-container;
  padding: 120px 15px;
  margin: auto;

  &--promo {
    padding: 120px 0;
  }

  &--gray {
    position: relative;
    max-width: initial;
    background-color: $gray;
  }

  &--adv {
    padding-bottom: 99px;
  }

  &--no-padding {
    max-width: 1160px;
    padding-top: 0;

    box-sizing: content-box;
  }

  &--small {
    padding-top: 0;
    padding-bottom: 79px;
  }

  &--big {
    display: flex;

    max-width: initial;
    padding: 0;
  }

}

.main__title {
  color: $dark-blue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;

  &--training {
    text-align: left;
  }
}

.main__group--no-padding .main__title {
  text-align: left;
}

.main__training {
  display: flex;
  justify-content: center;
}

.main__training-text-wrapper {
  max-width: 377px;
  padding-top: 47px;
  padding-right: 22px;

}

.main__training-top-text {
  margin-top: 8px;
  margin-bottom: 38px;

  font-family: $Roboto-condensed;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: $dark-blue;
}

.main__training-text {
  margin-top: 10px;

  font-family: $Roboto-condensed;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $dark-blue;
}

.main__training-media {
  position: relative;

  padding-left: 63px;
  padding-bottom: 115px;
}

.main__video-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: $tablet) {
  .main__group {
    padding: 100px 45px;

    &--no-padding {
      padding-top: 0;
      padding-bottom: 116px;

      .main__title {
        text-align: center;
      }
    }

    &--adv {
      padding-bottom: 90px;

    }

    &--small {
      padding-top: 0;
      padding-bottom: 60px;
      margin-bottom: 0;
    }

    &--big {
      flex-direction: column;
      padding: 0;
      padding-bottom: 26px;
    }
  }

  .main__title {
    font-size: 42px;
    line-height: 42px;

    &--training {
      text-align: center;
    }
  }

  .main__training {
    flex-direction: column;
    align-items: center;
  }

  .main__training-text-wrapper {
    max-width: 502px;
    padding: 0;
    padding-bottom: 43px;
  }

  .main__training-top-text {
    text-align: center;
    margin-bottom: 34px;
  }

  .main__training-text {
    text-align: center;

    &--not-tab {
      display: none;
    }
  }

  .main__training-media {
    width: 100%;
    padding-left: 0;
    padding-bottom: 83px;
  }

  .main__training-image {
    width: 100%;
    height: auto;
  }

  .main__video-wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 39.5%;
  }

  .video__image {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .main__group {
    padding: 70px 0;

    &--gray.main__group--adv {
      padding-bottom: 5px;

    }

    &--no-padding {
      padding-top: 0;
    }

    &--small {
      padding-top: 0;
      padding-bottom: 55px;
      margin-bottom: 0;
    }

    &--big {
      padding: 0;
    }
  }

  .main__title{
    font-size: 32px;
    line-height: 32px;

    &--training {
      text-align: left;
    }
  }

  .main__training-text-wrapper {
    max-width: initial;
    width: 100%;
    padding: 0 15px;
    padding-bottom: 33px;
  }

  .main__training-top-text {
    margin-top: 5px;
    margin-bottom: 24px;
    text-align: left;
  }

  .main__training-text {
    text-align: left;
    padding-right: 27px;
  }

  .main__training-media {
    width: 100%;
    padding-bottom: 0;
  }

  .main__training-image {
    width: 100%;
    height: auto;
  }

  .main__video-wrapper {
    position: relative;

    width: 100%;
    margin-top: 40px;
  }
}
