$Bebas-neue: "Bebas Neue", "Arial", "sans-serif";
$Roboto-condensed: "Roboto Condensed", "Arial", "sans-serif";

$gradient: linear-gradient(44.89deg, #003D85 25.38%, #B80027 74.89%);

$white: #ffffff;

$light-blue: #103AAE;
$blue:  #1C3374;
$gray-blue: #495A7D;
$dark-blue: #102654;
$black-blue: #030A1A;

$light-red: #D10A42;
$gray: #F8F9FC;
$red: #ED0233;
