$gradient-purple: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);

$Bebas-neue: "Bebas Neue", "Arial", "sans-serif";
$Roboto-condensed: "Roboto Condensed", "Arial", "sans-serif";


$white: #ffffff;

$blue:  #1C3374;
$gray-blue: #495A7D;
$dark-blue: #102654;
$black-blue: #030A1A;

$light-red: #D10A42;
$red: #ED0233;
